/* INS CSS Variable */
/* :root {
    --ins_toggle_bg: #e9570a;
    --ins_toggle_hover_bg: #fffdfd;
    --ins_toggle_border: #e9570a;
    --ins_toggle_hover_border: #e9570a;
    --ins_toggle_icon: #e9570a;
    --ins_toggle_icon_hover: #e9570a;
    --ins_toggle_icon_size: 24px;
    --ins_toggle_item_bg: #ffd200;
    --ins_toggle_item_bg_hover: #ffd200;
    --ins_toggle_item_color: #000;
    --ins_toggle_item_color_hover: #000;
    --ins_toggle_item_size: 14px;
} */

/* Toggle Css */
.ins-toggle {
    position: fixed;
    right: 30px;
    top: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: -35px;
    background-color: var(--ins_toggle_bg);
}

.ins-toggle-icon {
    display: inline-block;
}

.ins-toggle-icon svg {
    height: 40px;
    width: 40px;
}

.ins-items-count {
    position: absolute;
    top: -15px;
    right: -15px;
    display: inline-block;
    text-align: center;
    background-color: var(--ins_toggle_item_bg);
    color: var(--ins_toggle_item_color);
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#ins_cart_total {
    display: inline-block;
    line-height: 2.2;
    font-weight: 700;
}

/* Toggle Css */

/* Ins Cart Header */
.ins-checkout-modern {
    width: 0;
    height: 0;
    border: 1px solid #ddd;
    position: fixed;
}
.ins-checkout-modern .ins-checkout-layout {
	padding: 0 !important;
}

.ins-checkout-modern .ins-checkout-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background-color: #F6F6F6;
    box-shadow: 0px 10px 20px rgba(0, 77, 209, 0.05);
    border-radius: 0px 0px 8px 8px;
}

.ins-checkout-modern .ins-checkout-close {
    cursor: pointer;
    position: relative;
}

.ins-checkout-modern .ins-checkout-header-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    color: #494E5C;
}

/* Ins Cart Header */

/* Ins Cart Content  */

.ins-checkout-modern .ins-checkout-layout {
    width: 690px !important;
  }
  .ins-checkout-modern .ins-checkout-layout.slide.ins-hori-left.active {
    left: -690px;
  }
  .ins-checkout-modern .ins-checkout-layout.slide.ins-hori-left {
    left: -690px;
  }

/* Ins Cart Content  */

/* Ins Single Cart Item */

.ins-checkout-modern .ins-cart-item-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
}

.ins-checkout-modern .ins-cart-item-image img {
    height: 65px;
    width: 65px;
}

.ins-checkout-modern .ins-cart-content-wrap {
    padding: 16px;
    background: #FCFCFC;
    border: 1px solid #F6F6F6;
    box-shadow: 0px 10px 20px rgba(0, 77, 209, 0.05);
    border-radius: 8px;
}

.ins-checkout-modern .ins-checkout-body {
    padding: 16px;
    font-size: 16px;
    color: #494E5C;
    text-align: center;
}

.ins-checkout-modern .ins-single-cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #F6F6F6;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 16px;
}

.ins-checkout-modern .ins-cart-item-heading span {
    font-size: 16px;
    font-weight: 700;
    color: #494E5C;
    text-align: center;
}

.ins-checkout-modern .ins-cart-item-product {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-size: 16px;
    color: #494E5C;
    text-align: left;
    text-decoration: none;
}

.ins-checkout-modern .ins-cart-item-heading-remove,
.ins-cart-remove {
    width: 5% !important;
    text-align: center;
}

.ins-checkout-modern .ins-cart-item-heading-title,
.ins-cart-item-product {
    width: 46% !important;
}

.ins-checkout-modern .ins-cart-item-heading span,
.ins-single-cart-item>div {
    width: 10%;
}

.ins-checkout-modern .ins-cart-remove {
    cursor: pointer;
}

.ins-checkout-modern .plus.ins-cart-plus,
.ins-checkout-modern .minus.ins-cart-minus {
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.ins-checkout-modern .ins-cart-qty {
    height: 35px;
    width: 35px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    align-items: center;
    line-height: 2.0;
    font-weight: 700;
}

.ins-checkout-modern .ins-cart-item-quantity-input {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.ins-checkout-modern .ins-cart-item-heading-quantity,
.ins-checkout-modern .ins-cart-item-quantity {
    width: 15% !important;
}
.ins-checkout-modern .ins-cart-item-remove {
    position: relative;
    bottom: 0;
}
.ins-checkout-modern .ins-cart-item-quantity button:focus, .ins-checkout-modern .ins-cart-item-quantity input:focus {
    outline: none !important;
}
.ins-checkout-modern .ins-cart-item-quantity .qty {
	height: 42px;
	display: inline-block;
	border-radius: 50%;
	background-color: #FCFCFC !important;
}
.ins-single-cart-wrap {
	max-height: 210px;
	overflow: auto;
}
/* Ins Single Cart Item */

/* Ins Cart Footer */

.ins-footer-cart-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  .ins-footer-cart-button > div {
    width: 100%;
  } 
  .ins-cart-coupon button[name="update_cart"] {
    display: none;
  }
  .ins-cart-footer-content {
    margin: 16px;
    padding: 16px;
    background: #F6F6F6;
    border: 1px solid #F6F6F6;
    box-shadow: 0px 10px 20px rgba(0, 77, 209, 0.05);
    border-radius: 8px;
  }
  .ins-cart-coupon .coupon {
    display: flex;
    flex-direction: row;
    /*! border: 1px solid #494E5C; */
    /*! border-radius: 8px; */
  }
  .ins-cart-coupon > div {
    width: 100% !important;
  }
  .ins-cart-coupon .coupon button {
    background: #494E5C;
    border-radius: 0px 8px 8px 0px;
    color: #fff;
    border: 1px solid #494E5C;
    padding: 10px;
  }
  .ins-cart-coupon .coupon button:focus, .ins-cart-coupon .coupon input:focus {
    outline: none;
  }
  .ins-empty-cart-button button {
    padding: 10px;
    width: 100% !important;
    border: 1px solid #494E5C;
    border-radius: 8px;
  }
  .ins-footer-cart-button .ins-cart-coupon {
    width:  60% !important;
  }
  .ins-footer-cart-button .ins-empty-cart-button {
    width: 40%;
  }

  
.ins-cart-collaterals .wc-proceed-to-checkout {
    display: none;
  }
  .ins-cart-collaterals .cart_totals {
    width: 100%;
    margin-top: 20px;
  }
  .ins-cart-collaterals .cart_totals h2 {
    font-size: 20px;
    font-weight: 700;
  }
  .ins-cart-collaterals .cart_totals td, .ins-cart-collaterals .cart_totals th {
    padding: 10px 0;
    background-color: transparent !important;
  }
  .ins-cart-collaterals .cart_totals td {
    text-align: right;
    font-weight: 700;
  }
  .ins-cart-collaterals .cart_totals th:after {
    content: ':';
    position: absolute;
    right: 0;
    top: 7px;
  }
  .ins-cart-collaterals .cart_totals th {
    position: relative;
  }
  .ins-cart-collaterals .cart_totals {
    width: 100% !important;
  }
  .ins-cart-collaterals {
    margin-top: 16px;
  }
  .ins-cart-coupon .coupon input {
    width: auto;
    border-radius: 8px 0px 0px 8px;
    -webkit-border-radius: 8px 0px 0px 8px;
    -moz-border-radius: 8px 0px 0px 8px;
    -ms-border-radius: 8px 0px 0px 8px;
    -o-border-radius: 8px 0px 0px 8px;
    border: 1px solid #494E5C;
}
.ins-cart-btns {
    margin: 16px !important;
  }
  .ins-cart-btns a {
    padding: 16px;
    border-radius: 8px !important;
  }
/* Ins Cart Footer */



/* Breakpoints */
@media (max-width: 992px) {
}


@media (max-width: 768px ) {
  .ins-checkout-layout-3.popup {
    max-height: 100%;
    width: 100%;
    height: 100%;
  }
  .ins-checkout-layout-3, 
  .ins-checkout-modern .ins-checkout-layout-3  {
    width: 440px !important;
  }
  .ins-checkout-layout.slide.ins-hori-left.active,
  .ins-checkout-modern .ins-checkout-layout.slide.ins-hori-left.active {
    left: -440px; 
  }
  .ins-checkout-layout.slide.ins-hori-left,
  .ins-checkout-modern .ins-checkout-layout.slide.ins-hori-left {
    left: -440px; 
  }
  .ins-cart-inner form {
	margin-bottom: 0;
}
.ins-cart-footer-content { 
	margin-top: 8px;
	padding-top: 8px;
}
  .ins-checkout-modern .ins-cart-item-heading-title, .ins-cart-item-product {
        width: 29% !important;
    }
    .ins-checkout-modern .ins-cart-item-heading span, .ins-single-cart-item > div {
        width: 13%;
    }
    .ins-checkout-modern .ins-cart-item-quantity .qty {
        height: 32px; 
    }
    .ins-cart-item-remove {
        padding: 0px !important;
    }
    .ins-cart-item-quantity button svg {
        width: 15px;
    }
    .ins-checkout-modern .ins-cart-item-quantity {
        width: 20% !important;
    }
    .ins-checkout-modern .ins-cart-item-heading span,
    .ins-checkout-modern .ins-checkout-body{
        font-size: 12px; 
    }
  .ins-cart-inner form.woocommerce-cart-form .ins-cart-coupon .coupon {
    display: flex;
    flex-direction: row; 
    row-gap: 5px;
  }
  .ins-cart-coupon .coupon input {
        width: 55%;
    }
    .ins-empty-cart, .ins-cart-coupon .coupon input{ 
        font-size: 11px;
    }
    .ins-cart-collaterals .cart_totals {
        width: 100%;
        margin-top: 16px;
    }
  .ins-cart-coupon .coupon button {
        width: 45%;
        font-size: 11px;
    }
    .ins-cart-collaterals .cart_totals h2 {
        font-size: 16px; 
    }
    .ins-cart-collaterals .cart_totals td, .ins-cart-collaterals .cart_totals th {
        padding: 8px 0;
        background-color: transparent !important;
    }

  .ins-cart-coupon .coupon input {
    max-width: 100%;
  }

  .ins-cart-inner
    form.woocommerce-cart-form
    .ins-cart-coupon
    .ins-cart-coupon-updated-cart {
    display: none;
  }
}

@media (max-width: 576px) {
    .ins-checkout-layout-3, 
    .ins-checkout-modern .ins-checkout-layout-3  {
      width: 420px !important;
    }
    .ins-checkout-layout.slide.ins-hori-left.active,
    .ins-checkout-modern .ins-checkout-layout.slide.ins-hori-left.active {
      left: -420px; 
    }
    .ins-checkout-layout.slide.ins-hori-left,
    .ins-checkout-modern .ins-checkout-layout.slide.ins-hori-left {
      left: -420px; 
    }
    .ins-checkout-layout.ins-var-bottom .ins-toggle-btn.tog-1 {
        left: -53px; 
    }
    .ins-checkout-layout.ins-hori-left .ins-toggle-btn.tog-1 { 
        left: auto;
        right: -53px;
    }
  .ins-checkout-layout {
    padding: 10px;
  }

  .ins-content {
    height: calc(100% - 8%);
  }
  #ins_cart_total { 
	line-height: 1.7; 
	font-size: 11px;
}
.ins-toggle-btn.tog-1 .ins-items-count {
	right: -10px;
	top: -10px; 
	width: 20px;
	height: 20px; 
    line-height: 0;
}
  .ins-cart-item-title {
    margin-left: 5px;
  }
  .ins-toggle-btn { 
	height: 45px;
	width: 45px; 
}
  .ins-cart-item-quantity {
    max-width: 175px !important;
    margin-left: 5px;
  }

  .ins-cart-plus,
  .ins-cart-minus {
    line-height: 12px;
    height: 20px !important;
    width: 20px !important;
  }
  .ins-cart-qty-wrap input[type="number"] {
    width: 28px !important;
  }
}
@media (max-width: 360px) {
    /* .ins-checkout-layout.slide.ins-hori-left.active, .ins-checkout-modern .ins-checkout-layout.slide.ins-hori-left.active {
        left: -360px;
    }

    .ins-checkout-layout-3, .ins-checkout-modern .ins-checkout-layout-3 {
        width: 360px !important;
    } */
}

/* End breakpoints */
