/* Popup Panel */
.fancybox-container .ins-container {
    min-width: 699px;
    overflow-x: hidden;
    max-width: 700px;
}

 .ins-lay3-container {
     font-family: 'Roboto', sans-serif;
}
 .ins-lay3-container .ins-inner .ins-inner-container{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
	 width: 100%;
	 height: 100%;
}
/* Inner Header */
 .ins-lay3-container .ins-header{
     text-align: center;
     padding: 5px 0 30px 0;
}
 .ins-lay3-container .ins-header h3{
     font-size: 24px;
     color: #333;
     font-weight: normal;
     line-height: 24px;
     margin: 0 0 30px 0;
     padding: 0;
}
.ins-lay3-container .ins-header h3 svg{
     width: 24px;
    vertical-align: middle;
    margin: 0 10px 6px 0;
	padding: 0;
}
/* Inner Body */
 .ins-lay3-container .ins-body{
     text-align: center;
     color: #333;
}
 .ins-lay3-container .ins-header .ins-my-auto{
     margin: auto 0;
	 text-align: center;
     color: #333;
}
.ins-lay2-container .ins-body .ins-my-auto{
     margin: auto 0;
}
 .ins-lay3-container .ins-body h4{
     font-size: 18px;
}

/* Inner Footer */
 .ins-lay3-container .ins-footer{
     padding: 10px 10px 20px 10px;
     text-align: center;
}
 .ins-lay3-container .ins-footer p{
     color: #333;
     font-weight: bold;
     font-size: 16px;
     margin: 0 0 30px 0;
}
.ins-footer .footer-button {
	display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
}
 .ins-lay3-container .ins-footer a{
     background: #ffffff;
     display: block;
     text-align: center;
     padding: 7px 20px;
     text-decoration: none !important;
     border: 1px solid #e9570a;
     color: #e9570a;
     font-size: 14px;
     transition: 0.3s;
}
 .ins-lay3-container .ins-footer a:hover{
     background: #e9570a;
     color: #fff;
}

.ins-lay3-container .ins-footer a:nth-child(1){
    background: #e9570a;
    border: 1px solid #e9570a;
    color: #fff;
}
.ins-lay3-container .ins-footer a:nth-child(1):hover{
    background: #fff;
    color: #e9570a;
}

/* Override Main CSS */
.ins-container table.cart td.product-remove {
    padding: 10px 5px 10px 10px !important;
}