.tf-field-number {
  input {
    width: 100%;
    padding: 12px 8px 12px 12px;
    border: 1px solid $slate20;
    background-color: #fcfcff;
    border-radius: 4px;
    height: 48px;
    color: #363e4a;
    font-size: 14px;

    &:focus {
      background: #ffffff;
      // box-shadow: 0 0 0 2px transparent;
      box-shadow: 0px 5px 15px rgba(233, 87, 10, 0.2);
      border-radius: 4px;
      border-color: #db5209;
      outline: transparent;
    }

    &::-webkit-input-placeholder {
      color: $slate30;
    }

    &::-ms-input-placeholder {
      color: $slate30;
    }

    input:-ms-input-placeholder {
      color: $slate30;
    }

    &::-moz-placeholder {
      opacity: 1;
      color: $slate30;
    }

    &:-moz-placeholder {
      opacity: 1;
      color: $slate30;
    }

    &::placeholder {
      color: $slate30;
    }
  }
}
