.tf-tablist {
  ul.tf-nav-tabs {
    list-style: none;
    margin-bottom: 0;
    li.tf-tab-item {
      display: inline-block;
      padding: 8px 24px;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #db5209;
      cursor: pointer;
      transition: 0.4s;
      border-radius: 8px 8px 0px 0px;
      border-bottom: 4px solid transparent;
      margin-bottom: 0 !important;
    }
    li.show {
      background-color: #fef2eb;
      border-bottom: 4px solid #db5209;
      color: $neutral70;
      box-shadow: 0px 5px 15px rgba(233, 87, 10, 0.2);
    }
    li.tf-tab-item:hover {
      background-color: #fef2eb;
      border-bottom: 4px solid #db5209;
    }
    li.show:hover {
      background-color: #fef2eb;
      border-bottom: 4px solid #db5209;
      color: #db5209;
    }
  }
  .tf-tab-field-content {
    .tf-tab-item-content {
      border: 1px solid $slate5;
      display: none;
      visibility: hidden;
      padding: 10px 24px;
      @include flex-wrap(wrap);
      @include justify-content(space-between);
    }
    .show {
      @include flexbox();
      visibility: visible;
    }
  }
}
