.tf-image-seletor-items {
  margin-right: 10px;
  figure {
    cursor: pointer;
    position: relative;
    display: inline-block;
    max-width: 100%;
    margin: 0;
    vertical-align: bottom;
    border: 1px solid transparent;
    background-color: #fff;
    user-select: none;
    transition: all 0.2s;
    input {
      display: none;
    }
  }
  &.tf-active figure {
    border-color: transparent;
    border-radius: 6px;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
  }
}

.tf-field-imageselect.imageset-inline {
  .tf-image-seletor-wrap {
    display: flex;
    column-gap: 4px;
    .tf-image-seletor-items {
      figure img {
        padding: 5px;
      }
    }
  }
}
