
.ins-content{
    h1{
        font-size: 20px !important;
        margin-bottom: 5px !important; 
    }
    h2{
        font-size: 18px !important;
        margin-bottom: 5px !important; 
        margin: 0;
    }
    h3{
        font-size: 16px !important;
        margin-bottom: 5px !important; 
    }
    h4{
        font-size: 14px !important;
        margin-bottom: 5px !important; 
    }
    h5{
        font-size: 12px !important;
        margin-bottom: 5px !important; 
    }
    h6{
        font-size: 10px !important;
        margin-bottom: 5px !important; 
    } 
    a, span, p{
        font-size: 16px !important; 
    }
    .woocommerce-content-box, .coupon, .cart_totals {
        margin: 0 !important;
        padding: 0 !important;
        border: none !important;
    }
    .woocommerce-error {
        background-color: #FFECEB !important;
    }
    .woocommerce-error li, .woocommerce-error:before {
        color: #DA281C !important; 
    }
    .shop_table tr{
        height: auto !important;
        border: none !important;
    }
    .woocommerce-billing-fields {
        margin-bottom: 0 !important; 
      }
    .woocommerce-shipping-fields {
        margin-bottom: 8px !important; 
    }
    #order_comments_field {
        margin-bottom: 0 !important;
    }
    button{
        &:focus{
            outline: none !important;
        }
    }
    .woocommerce-cart #payment, .woocommerce-checkout #payment, #add_payment_method #payment {
        background: transparent !important; 
        border-radius: 5px;
    }
    a.button{
        color: #665F5C !important;
        font-weight: 400 !important;
    }
    .wc-proceed-to-checkout{
        display: none !important;
    }
    #customer_details{
        padding: 0 !important; 
    }
}
.woocommerce {
    .ins-content {
        a.button {
            color: #665F5C !important;
            font-weight: 400 !important;
            border: none !important;
        }
        .wc-proceed-to-checkout{
            display: none !important;
        }
        .upsells.products {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    }
   

}
.ins-single-cart-wrap, .ins-content {
    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #ddd;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: gray;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}

/* Empty cart */
.empty-cart {
    margin-top: 15px;
}

.ins-cart-empty {
    display: table;
    width: 100%;
    height: 100%;
    &.hide{
        display: none;
    }

    span {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        text-align: center;
        font-size: 30px;
        font-size: 24px;
        line-height: 32px;
        color: #4d423d;
    }

    a {
        text-decoration: underline;
        font-weight: 700;
        color: var(--ins_checkout_theme);
    }
}
.ins-checkout-layout.popup{
    .ins-cart-empty { 
        height: 410px !important;
    }
}

/* Empty cart */

/* Cart Fly Animation */

// OceanWP Fly Cart
.woocommerce ul.products .product{
    overflow: inherit !important;
}

#ins-cart-fly {
    position: absolute;
    z-index: 9999 !important;
    opacity: 1;
    font-size: 20px;
    line-height: 3;
    width: 40px;
    text-align: center;

    .ins-cart-fly-icon {
        height: 100%;
        width: 100%;
        max-width: 100px;
        max-height: 100px;
        background-color: #fff !important;
        display: block;
        padding: 20px !important;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        text-align: center;

        svg {
            height: 100%;
            width: 100%;
        }

        i {
            font-size: 40px;
        }
    }

    .cart_boom {
        animation: cart_boom 0.3s ease-in-out 200ms 1 forwards;
    }

    @keyframes cart_boom {
        0% {
            transform: scale(1.2);
        }

        25% {
            transform: scale(0.8);
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }
}

// Owl Carousel
.ins-product-sell-carousel {
    position: relative !important;

    &::before{
        left: 0 !important;
    }

    .owl-nav {
        position: absolute;
        top: 0;
        margin-top: -35px;
        right: 12px;

        .owl-prev,
        .owl-next {
            line-height: 0 !important;
            height: 30px;
            width: 30px;
            background-color: var(--ins_checkout_theme) !important;
            border-radius: 50%;
            margin-left: 15px;
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: #4D423D !important;
            }

            span {
                line-height: 0;
                display: inline-block;
                font-size: 35px !important;
                color: #fff;
                width: 100%;
                text-align: center;

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

