/* :root {
    --ins_toggle_bg: #e9570a;
    --ins_toggle_hover_bg: #fffdfd;
    --ins_toggle_border: #e9570a;
    --ins_toggle_hover_border: #e9570a;
    --ins_toggle_icon: #e9570a;
    --ins_toggle_icon_hover: #e9570a;
    --ins_toggle_icon_size: 24px;
    --ins_toggle_item_bg: #ffd200;
    --ins_toggle_item_bg_hover: #ffd200;
    --ins_toggle_item_color: #000;
    --ins_toggle_item_color_hover: #000;
    --ins_toggle_item_size: 14px;
} */
$ins_toggle_bg: var(--ins_toggle_bg );
$ins_toggle_hover_bg: var(--ins_toggle_hover_bg );
$ins_toggle_border: var(--ins_toggle_border );
$ins_toggle_hover_border: var(--ins_toggle_hover_border );
$ins_toggle_icon: var(--ins_toggle_icon );
$ins_toggle_icon_hover: var(--ins_toggle_icon_hover );
$ins_toggle_icon_size: var(--ins_toggle_icon_size );
$ins_toggle_item_bg: var(--ins_toggle_item_bg );
$ins_toggle_item_bg_hover: var(--ins_toggle_item_bg_hover );
$ins_toggle_item_color: var(--ins_toggle_item_color );
$ins_toggle_item_color_hover: var(--ins_toggle_item_color_hover );
$ins_toggle_item_size: var(--ins_toggle_item_size );

$primary: #DB5209;
$hover: #C44A08;
$p_shade: #FEF2EB; 
$background: #FCF9F7;
$card: #FFF5F0;
$secondary: #140701;
$s_shade: #665F5C;
$gray: #B2A6A1;

