//hide wp menu and admin bar
body.admin_page_tf-setup-wizard {
  // font-family: "Roboto";
  background-color: #fcf9f7;
  input:focus {
    box-shadow: none !important;
  }
  input[type="radio"] {
    background: transparent;
  }
  option:hover {
    background-color: #db5209;
  }
  select:focus {
    border-color: transparent;
    color: transparent;
    box-shadow: 0 0 0 1px transparent;
  }
  a,
  bottom {
    &:focus {
      box-shadow: none !important;
      outline: none !important;
    }
  }
}

.admin_page_tf-setup-wizard #wpcontent {
  margin-left: 0 !important;
}

.admin_page_tf-setup-wizard #wpbody-content,
.admin_page_tf-setup-wizard #wpcontent {
  padding: 0;
  overflow-x: hidden !important;
  min-height: calc(100vh - 32px);
}

.admin_page_tf-setup-wizard #adminmenumain,
.admin_page_tf-setup-wizard .error,
.admin_page_tf-setup-wizard .notice,
.admin_page_tf-setup-wizard .update-nag,
.admin_page_tf-setup-wizard .updated,
.admin_page_tf-setup-wizard div#wpadminbar,
.admin_page_tf-setup-wizard div#wpfooter {
  display: none;
}

.pro {
  opacity: 0.8;
}

.tf-setup-wizard-wrapper {
  max-width: 900px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  @media #{$max991} {
    padding: 0 30px;
  }
  @media #{$max575} {
    height: 100%;
  }
  .tf-setup-container {
    width: 100%;
  }
}

.tf-setup-header {
  margin-bottom: 16px;
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);

  @media #{$max480} {
    @include flex-direction(column);
    gap: 15px;
  }

  .tf-setup-header-left {
    .back-to-dashboard {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      background-color: transparent;
    }
    a {
      padding: 0;
      display: flex;
      color: #db5209;
      border-color: transparent;
      text-decoration: underline;
      &:hover {
        color: #c44a08;
        border-color: transparent;
        background-color: transparent;
      }
    }
  }

  .tf-setup-header-right {
    .get-help-link {
      color: #140701;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      a {
        color: #db5209;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        text-decoration: underline;
      }
    }
  }
}

/*
Welcome Step
*/
.tf-setup-content-layout {
  padding: 56px 0;
  background: linear-gradient(180deg, #fef2eb 0%, rgba(254, 242, 235, 0) 100%);
  border: 4px solid #fef2eb;
  border-radius: 32px;
  text-align: center;
  width: 100%;
  display: none;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);

  @media #{$max575} {
  }

  &.active {
    @include flexbox();
  }

  .welcome-img {
    width: 243px;
    height: 242px;
    display: flex;
    align-items: start;
    justify-content: center;
    margin-bottom: 40px;
    @media #{$max575} {
      min-height: auto;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .tf-setup-welcome-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #140701;
    margin: 0 0 14px;

    @media #{$max575} {
      font-size: 30px;
      line-height: 37px;
    }
  }

  .tf-setup-welcome-description {
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    max-width: 534px;
    color: #665f5c;
    margin: 0 0 30px;
  }

  .tf-setup-welcome-description-info {
    color: #140701;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin: 24px 0 0px;
  }

  .tf-setup-welcome-footer {
    @include flexbox();
    @include flex-direction(row);
    @include align-items(center);
    justify-content: center;

    .tf-admin-btn {
      padding: 16px 32px;
      color: #fff;
      background-color: #db5209;
      border-radius: 8px;
      border-color: transparent;
      cursor: pointer;
    }

    .tf-link-btn {
      color: #db5209;
      text-align: center;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      text-decoration: underline;
    }

    &.tf-setup-finish-footer {
      @include flex-direction(row);
      @include justify-content(center);

      @media #{$max375} {
        @include flex-direction(column);
        gap: 10px;
      }

      .tf-admin-btn {
        margin-bottom: 0;
        margin-right: 10px;
      }
      .bg-not {
        color: #db5209;
        border: 1px solid #db5209;
        background-color: transparent;
      }
    }
  }

  .ins_quick_setup_finish {
    @include flexbox();
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media #{$max767} {
      padding: 0 20px;
      .tf-setup-welcome-footer {
        .tf-admin-btn {
          font-size: 14px;
          padding: 11px;
        }
      }
    }
  }
}

/*
Steps
*/
.tf-setup-steps {
  margin: 24px 0;
  box-sizing: border-box;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 0;
  line-height: 1.5715;
  list-style: none;
  width: 100%;
  text-align: initial;
  @include flexbox();

  .tf-steps-item {
    position: relative;
    display: inline-block;
    flex: 1;
    vertical-align: top;

    .tf-steps-item-container {
      outline: 0;
    }

    .tf-steps-item-tail {
      padding: 3.5px 45px 3.5px 35px;
      margin-left: 58px;
      top: 8px;
      position: absolute;
      left: 0;
      width: 70%;

      @media #{$max575} {
        margin-left: 10px;
        width: 60%;
      }

      &::after {
        display: inline-block;
        width: 100%;
        height: 2px;
        background: #fef2eb;
        border-radius: 1px;
        transition: background 0.3s;
        content: "";
      }
    }

    .tf-steps-item-icon {
      width: auto;
      height: inherit;
      line-height: inherit;
      background: 0 0;
      border: 0;
      border-radius: 0;
      margin: 0 8px 0 0;
      margin-left: 46px;
      display: inline-block;
      font-size: 12px;
      text-align: center;
      border-color: #1890ff;

      @media #{$max575} {
        margin: 0 0 0 5px;
      }

      .tf-steps-icon {
        font-size: 24px;
        line-height: 24px;
        transform: none;
        color: #1890ff;
        top: 0;
        left: 0.5px;
        width: 32px;
        height: 32px;
        position: relative;
      }
    }

    .tf-steps-item-title {
      margin-top: -4px;
      text-align: center;
      display: block;
      width: 116px;
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase;

      @media #{$max575} {
        width: auto;
        text-align: left;
      }
    }

    &:last-child {
      flex: none;

      .tf-steps-item-tail {
        display: none;
      }
    }
  }
}

.tf-setup-step-container {
  display: none;

  &.active {
    display: block;
  }

  .tf-setup-step-layout {
    @media #{$max991} {
    }

    @media #{$max575} {
    }
  }

  .tf-setup-step-title {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 22px;
    line-height: 47px;
    color: #db5209;
    margin: 0 0 15px;

    @media #{$max575} {
      font-size: 24px;
    }
  }

  .tf-setup-step-subtitle {
    text-transform: capitalize;
    color: #db5209;
    margin: 20px 0 15px;
    text-align: left;

    @media #{$max575} {
      text-align: center;
    }
  }

  .tf-setup-step-desc {
    margin: 0 0 15px;
    font-size: 16px;
  }

  .tf-select-service {
    display: grid;
    grid-auto-columns: 1fr;
    grid-row-gap: 16px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    @media #{$max575} {
      grid-template-columns: 1fr 1fr;
    }

    li {
      position: relative;
      @include flex(0 0 140px);

      @media #{$max480} {
        @include flex(0 0 100px);
      }
    }

    input[type="radio"] {
      background: transparent;
      border: none;
      box-shadow: none;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    input[type="radio"]:checked::before {
      background-color: transparent;
    }

    label {
      border: 2px solid transparent;
      background-color: #fff;
      box-shadow: 0px 6px 40px rgba(75, 26, 0, 0.15);
      display: block;
      position: relative;
      cursor: pointer;
      border-radius: 6px;
      pointer-events: none;
      @media #{$max480} {
        padding: 5px;
      }

      span {
        display: block;
        color: #665f5c;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        padding: 3px 0px 5px 5px;
      }
    }

    label img {
      width: 100%;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    :checked + label {
      border: 2px solid #db5209;
      box-shadow: 0px 5px 15px rgba(233, 87, 10, 0.2);
    }
  }

  .tf-setup-action-btn-wrapper {
    @include flexbox();
    @include justify-content(space-between);
    margin: 30px 0 50px 0;

    @media #{$max375} {
      .tf-setup-action-btn-next {
        @include flexbox();
      }
    }

    .tf-setup-prev-btn {
      padding: 16px 32px;
      display: flex;
      color: #db5209;
      border: 1px solid #db5209;
      background-color: transparent;
      border-radius: 8px;
    }

    .tf-setup-action-btn-next {
      display: flex;
      button {
        padding: 16px 32px;
        display: flex;
        color: #fff;
        background-color: #db5209;
        border-radius: 8px;
        border-color: transparent;
        &:last-child {
          margin-left: 20px;
        }
      }
      .tf-setup-skip-btn {
        background-color: transparent;
        color: #db5209;
      }
    }
  }
  .tf-setup-form-item.bg {
    background-color: #fef2eb;
    padding: 12px 30px;
    border-radius: 16px;
  }

  .tf-setup-form-item.middle {
    max-width: 450px;
    margin: auto;
    margin-bottom: 20px;
    @media #{$max575} {
      align-items: center;
    }
    .tf-setup-form-item-label {
      label {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #4e4e4e;
      }
    }

    .tf-setup-form-item-input {
      width: 100%;
      select {
        height: 40px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        padding: 5px 8px 5px 12px;
        background-color: #fff5f0;
        border: 1px solid #db5209;
        border-radius: 8px;
        transition: all 0.3s;
        outline: none;
      }
    }
  }

  .tf-setup-form-item {
    margin: 0 0 30px 0;
    @include flexbox();
    flex-direction: column;
    align-items: flex-start;

    li {
      max-width: 145px;
    }

    @media #{$max575} {
      @include flex-direction(column);
      text-align: center;
    }

    label {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #4e4e4e;
    }

    .tf-setup-form-item-label {
      width: 100%;

      @media #{$max575} {
        text-align: center;
      }

      label {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        position: relative;
        display: inline-flex;
        align-items: center;
        max-width: 100%;
        height: 32px;
        color: rgba(0, 0, 0, 0.85);

        span {
          margin-left: 3px;
          padding: 4px;
          color: #ff0101;
        }
      }
    }

    .tf-setup-form-item-input {
      width: 100%;

      input[type="text"],
      input[type="email"],
      input[type="number"],
      select {
        width: 100%;
        border: 1px solid #e4e6eb;
        border-radius: 5px;
        height: 36px;
        padding: 6px 18px;
        font-size: 14px;
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.85);
        background-color: #fff;
        transition: all 0.3s;
        outline: none;
      }
    }

    .tf-switch-label {
      position: relative;
      display: inline-block;
      width: 64px;
      height: 36px;
      border-radius: 24px;

      input {
        display: none;
      }

      .tf-switch-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        border: 1px solid #140701;
        border-radius: 20px;
        @include transition(all, 0.4s);

        &::before {
          position: absolute;
          content: "";
          width: 30px;
          height: 26px;
          border-radius: 24px;
          top: 4px;
          left: 4px;
          background-color: #140701;
          box-shadow: 0px 0px 8px rgba(27, 25, 25, 0.3);
          @include transition(all, 0.4s);
        }
      }

      input:checked {
        & + .tf-switch-slider {
          background-color: #db5209;
          border-color: transparent;

          &:before {
            left: 100%;
            margin-left: -35px;
            background-color: #fcf9f7;
          }
        }
      }
    }
  }

  .tf-select-progressbar {
    display: grid;
    grid-auto-columns: 1fr;
    grid-row-gap: 16px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    -ms-grid-rows: auto auto;
    @media #{$max575} {
      grid-template-columns: 1fr 1fr;
    }

    li {
      position: relative;
      text-align: center;
      input[type="radio"] {
        border: none;
        box-shadow: none;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
      input[type="radio"]:checked::before {
        background-color: transparent;
      }
      label {
        border: 2px solid transparent;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
        display: block;
        position: relative;
        cursor: pointer;
        border-radius: 6px;
        pointer-events: none;
        img {
          width: 100%;
        }
        span {
          display: block;
          font-weight: 500;
          font-size: 12px;
          line-height: 12px;
          padding: 3px 0px 5px 5px;
          text-align: left;
        }
      }
    }
    :checked + label {
      border: 2px solid #db5209;
      box-shadow: 0px 5px 15px rgba(233, 87, 10, 0.2);
    }
  }

  .tf-select-mode {
    display: grid;
    grid-auto-columns: 1fr;
    grid-row-gap: 16px;
    column-gap: 20px;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    -ms-grid-rows: auto auto;
    @media #{$max575} {
      grid-template-columns: 1fr 1fr;
    }

    li {
      position: relative;
      text-align: center;
      input[type="radio"] {
        border: none;
        box-shadow: none;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
      input[type="radio"]:checked::before {
        background-color: transparent;
      }
      label {
        border: 2px solid transparent;
        padding: 8px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
        display: block;
        position: relative;
        cursor: pointer;
        border-radius: 6px;
        pointer-events: none;
        img {
          width: 100%;
        }

        span {
          display: block;
          font-weight: 500;
          font-size: 12px;
          line-height: 12px;
          padding: 3px 0px 5px 5px;
          text-align: left;
        }
      }
    }
    :checked + label {
      border: 2px solid #db5209;
      box-shadow: 0px 5px 15px rgba(233, 87, 10, 0.2);
    }
  }

  .tf-setup-step-description {
    margin-bottom: 30px;
  }

  &.tf-setup-step-3 {
    .tf-setup-step-desc {
      text-align: left;
    }
  }

  /*
  Ajax Loader
  */
  .tf-btn-loading {
    padding-right: 40px;
    position: relative;
  }

  .tf-btn-loading:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -7px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    border-left-color: transparent;
    border-radius: 50%;
    vertical-align: middle;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    -webkit-animation: wd-rotate 450ms infinite linear;
    animation: wd-rotate 450ms infinite linear;
  }

  @-webkit-keyframes wd-rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes wd-rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
