@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
@media only screen and (max-width: 991.98px) {
  #tf_tours_opt .tf-admin-meta-box {
    position: relative;
    min-height: 660px;
  }
}

.tf-admin-meta-box {
  display: flex;
  margin: -6px -12px -12px -12px;
  z-index: 10;
  position: relative;
}
@media only screen and (max-width: 991.98px) {
  .tf-admin-meta-box {
    position: relative;
    min-height: 500px;
  }
}
.tf-admin-meta-box.tf-taxonomy-metabox {
  display: block;
  margin: 0;
  max-width: 95%;
}
.tf-admin-meta-box .tf-admin-tab.active {
  display: block;
  position: absolute;
  z-index: 99999;
  top: 0;
  bottom: 0;
  transition: all 0.3s ease;
}
.tf-admin-meta-box .tf-admin-tab {
  border-right: 1px solid #e1e5ea;
  background-color: #f8f9fb;
  min-width: 280px;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 991.98px) {
  .tf-admin-meta-box .tf-admin-tab {
    display: none;
  }
}
.tf-admin-meta-box .tf-admin-tab a.tf-tablinks {
  font-style: normal;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #363e4a;
  padding: 12px 16px;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.tf-admin-meta-box .tf-admin-tab a.tf-tablinks .tf-sec-icon {
  margin-right: 10px;
  color: #8997a9;
  min-width: 25px;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
}
.tf-admin-meta-box .tf-admin-tab a.tf-tablinks:hover {
  background-color: #fff;
  outline: none;
}
.tf-admin-meta-box .tf-admin-tab a.tf-tablinks:focus {
  box-shadow: none;
  outline: none;
}
.tf-admin-meta-box .tf-admin-tab a.tf-tablinks.active {
  background-color: #003c79;
  color: #fff;
  position: relative;
}
@media only screen and (max-width: 991.98px) {
  .tf-admin-meta-box .tf-admin-tab a.tf-tablinks.active {
    position: static;
  }
}
.tf-admin-meta-box .tf-admin-tab a.tf-tablinks.active .tf-sec-icon {
  color: #fff;
}
.tf-admin-meta-box .tf-admin-tab a.tf-tablinks.active::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  background: #fff;
  transform: rotate(45deg);
  right: -5px;
  top: 50%;
  margin-top: -5px;
}
@media only screen and (max-width: 991.98px) {
  .tf-admin-meta-box .tf-admin-tab a.tf-tablinks.active::after {
    position: static;
    display: none;
  }
}
.tf-admin-meta-box .tf-admin-tab ul.tf-submenu {
  margin: 0;
  display: none;
}
.tf-admin-meta-box .tf-admin-tab ul.tf-submenu li {
  margin-bottom: 0;
}
.tf-admin-meta-box .tf-admin-tab ul.tf-submenu li a.tf-tablinks {
  padding: 0;
}
.tf-admin-meta-box .tf-admin-tab ul.tf-submenu li a.tf-tablinks span.tf-tablinks-inner {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  margin-left: 24px;
  border-left: 1px solid #c4cbd4;
  position: relative;
}
.tf-admin-meta-box .tf-admin-tab ul.tf-submenu li a.tf-tablinks span.tf-tablinks-inner::after {
  position: absolute;
  content: "";
  height: 25px;
  width: 14px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: #c4cbd4;
  left: -1px;
  top: 0;
  border-bottom-left-radius: 8px;
}
.tf-admin-meta-box .tf-admin-tab ul.tf-submenu li:last-child a.tf-tablinks span.tf-tablinks-inner {
  border-left: none;
}
.tf-admin-meta-box .tf-admin-tab ul.tf-submenu li:last-child a.tf-tablinks span.tf-tablinks-inner::after {
  left: 0;
}
.tf-admin-meta-box .tf-tab-wrapper {
  flex: 0 0 calc(100% - 280px);
}
@media only screen and (max-width: 991.98px) {
  .tf-admin-meta-box .tf-tab-wrapper {
    flex: 0 0 calc(100% - 0px);
  }
}
.tf-admin-meta-box .tf-tab-wrapper .tf-tab-content {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 24px;
}
.tf-admin-meta-box .tf-tab-wrapper .tf-tab-content.active {
  display: flex;
}

.tf-option-wrapper .tf-option-footer {
  position: relative;
  padding: 15px 0px;
  text-align: right;
}
.tf-option-wrapper .tf-option-footer button {
  padding: 10px 25px;
  font-size: 1rem;
}
.tf-option-wrapper .tf-option-footer span {
  display: block;
  font-size: 16px;
  color: #8997a9;
  font-weight: 600;
  margin-top: 5px;
}
.tf-option-wrapper .tf-option-footer span a {
  color: #8997a9;
  display: inline;
  margin-left: 5px;
}
.tf-option-wrapper .tf-option-footer span a:focus {
  outline: none;
  box-shadow: none;
}

.tf-option {
  width: 100%;
  margin: 0;
}
.tf-option .tf-tab-wrapper {
  flex: 0 0 calc(100% - 281px);
  background-color: #fff;
  padding: 12px 0;
}
@media only screen and (max-width: 991.98px) {
  .tf-option .tf-tab-wrapper {
    flex: 0 0 calc(100% - 0px);
  }
}

#wpbody .notice {
  display: none !important;
}

.tf-setting-dashboard .tf-setting-top-bar {
  box-shadow: 0px 4px 30px rgba(53, 35, 0, 0.1);
  background-color: #fcf9f7;
  padding: 15px 40px;
  margin-left: -20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tf-setting-dashboard .tf-setting-top-bar .version {
  display: flex;
  align-items: center;
}
.tf-setting-dashboard .tf-setting-top-bar .version img {
  width: 100px;
}
.tf-setting-dashboard .tf-setting-top-bar .version span {
  font-size: 11px;
  line-height: 11px;
  color: #000;
  font-weight: 700;
  border: 1px solid #db5209;
  border-radius: 4px;
  background-color: rgba(219, 82, 9, 0.0392156863);
  display: inline-block;
  padding: 2px 6px;
  margin-left: 10px;
}
.tf-setting-dashboard .tf-setting-top-bar .other-document {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.tf-setting-dashboard .tf-setting-top-bar .other-document .dropdown {
  position: absolute;
  cursor: context-menu;
  top: 60px;
  right: -10px;
  z-index: 1;
  background-color: #fff;
  padding: 30px 0;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 200px;
  max-width: 200px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  z-index: 99;
}
.tf-setting-dashboard .tf-setting-top-bar .other-document .dropdown:after {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: -10px;
  right: 25px;
  border-bottom: 10px solid white;
  margin-top: 0;
  z-index: 1;
}
.tf-setting-dashboard .tf-setting-top-bar .other-document .dropdown .list-item a {
  font-size: 15px;
  font-weight: 500;
  color: #000;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  text-decoration: none;
  padding: 10px 30px;
}
.tf-setting-dashboard .tf-setting-top-bar .other-document .dropdown .list-item a:hover {
  background-color: #fff5f0;
}
.tf-setting-dashboard .tf-setting-top-bar .other-document .dropdown .list-item a span {
  margin-left: 10px;
}
.tf-setting-dashboard .tf-setting-top-bar .other-document:hover .dropdown {
  visibility: visible;
  opacity: 1;
}
.tf-setting-dashboard .ins-dashboad-wrapper {
  max-width: 100%;
  margin: 30px 20px 30px 0px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-tab {
  max-width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-tab li {
  position: relative;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-tab li.active span {
  color: #db5209;
  font-weight: 700;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-tab li span {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #002043;
  cursor: pointer;
}
@media only screen and (max-width: 991.98px) {
  .tf-setting-dashboard .ins-dashboad-wrapper .dashboad-tab li span {
    font-size: 15px;
  }
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-tab li.active::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #db5209;
  left: 50%;
  margin-left: -5px;
  bottom: -14px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content {
  overflow: hidden;
  max-width: 800px;
  margin: auto;
  display: none;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-help-center-banner {
  background-color: #002043;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 10px 30px rgba(233, 87, 10, 0.2);
  border-radius: 8px;
  height: 278px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px 40px;
}
@media only screen and (max-width: 1280px) {
  .tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-help-center-banner {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 1199.98px) {
  .tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-help-center-banner {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 575.98px) {
  .tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-help-center-banner {
    display: flow-root;
    padding: 25px;
  }
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-help-center-banner .tf-help-center-content {
  width: 45%;
}
@media only screen and (max-width: 575.98px) {
  .tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-help-center-banner .tf-help-center-content {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-help-center-banner .tf-help-center-content {
    margin-bottom: 20px;
  }
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-help-center-banner .tf-help-center-content a {
  color: #f2f4f5;
  display: inline-block;
  padding: 10px 25px;
  background: linear-gradient(95.29deg, #002043 0%, #6637a7 25.57%, #41b7ef 100%);
  border: transparent;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 130%;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-help-center-banner .tf-help-center-content a:hover {
  background-color: #c44a08;
  border-color: transparent;
  color: #c44a08;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-help-center-banner .tf-help-center-content h2 {
  font-family: "Mulish";
  color: #fcf9f7;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  margin: 0;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-help-center-banner .tf-help-center-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #f2f4f5;
  margin-bottom: 20px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-help-center-banner .tf-help-center-content-img {
  width: 35%;
  display: flex;
}
@media only screen and (max-width: 575.98px) {
  .tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-help-center-banner .tf-help-center-content-img {
    width: 100%;
  }
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-help-center-banner .tf-help-center-content-img img {
  max-width: 100%;
  position: relative;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-support-document {
  margin-bottom: 40px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: space-between;
  flex-direction: row;
}
@media only screen and (max-width: 1199.98px) {
  .tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-support-document {
    display: flow-root;
  }
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-support-document .tf-single-support {
  background: linear-gradient(141.81deg, #fb4682 0%, #fbae95 100%);
  border-radius: 8px;
  flex: 1;
  padding: 22px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-support-document .tf-single-support:nth-child(2) {
  background: linear-gradient(141.81deg, #4338ca 0%, #a21caf 100%);
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-support-document .tf-single-support:nth-child(3) {
  background: linear-gradient(141.81deg, #f4c82f 0%, #fd5187 100%);
}
@media only screen and (max-width: 1199.98px) {
  .tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-support-document .tf-single-support {
    margin: 15px 0%;
  }
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-support-document .tf-single-support a {
  display: block;
  text-decoration: none;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-support-document .tf-single-support a img {
  width: 52px;
  margin-bottom: 20px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-support-document .tf-single-support a h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin: 0;
  color: #ffffff;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-support-document .tf-single-support a p {
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-support-document .tf-single-support a span {
  display: inline-block;
  margin-bottom: 0;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.005em;
  text-decoration-line: underline;
  color: #ffffff;
  transition: 0.3s all ease;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-support-document .tf-single-support a span:hover {
  color: #db5209;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-settings-faq {
  margin: 40px 40px 40px 20px;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .tf-settings-faq h2 {
  margin: 0 0 30px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #000;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .updatedtopro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  background-color: #fff;
  margin-bottom: 50px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .updatedtopro h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #db5209;
  margin: 0;
  padding-bottom: 8px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .updatedtopro p {
  margin-top: 0;
  font-weight: 400;
  max-width: 559px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #828c99;
  margin-bottom: 30px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .updatedtopro .btn-desh-primary {
  text-decoration: none;
  color: #fff;
  padding: 16px 32px;
  background: linear-gradient(95.29deg, #002043 0%, #6637a7 25.57%, #41b7ef 100%), #2271b1;
  border-radius: 4px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .request-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  background-color: #fff;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .request-features img {
  width: 52px;
  height: 52px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .request-features h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #db5209;
  margin: 8px 0;
  text-align: center;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .request-features p {
  max-width: 651px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #828c99;
  margin-top: 0;
  margin-bottom: 30px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .request-features .btn-desh-primary-tran {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 16px 32px;
  border: 1px solid #db5209;
  border-radius: 4px;
  letter-spacing: 0.005em;
  color: #db5209;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content .tf-settings-help-center .request-features .btn-desh-primary-tran:hover {
  background-color: #db5209;
  color: #fff;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.active {
  display: block;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.tutorial .tutorial_wrapper .tutorial-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.tutorial .tutorial_wrapper .tutorial-heading h4 {
  font-style: normal;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #002043;
}
@media only screen and (max-width: 991.98px) {
  .tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.tutorial .tutorial_wrapper .tutorial-heading h4 {
    font-size: 17px;
  }
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.tutorial .tutorial_wrapper .tutorial-heading a {
  background: #2271b1;
  border-radius: 4px;
  padding: 8px 32px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
@media only screen and (max-width: 991.98px) {
  .tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.tutorial .tutorial_wrapper .tutorial-heading a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 767.98px) {
  .tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.tutorial .tutorial_wrapper .tutorial-heading a {
    padding: 4px 18px;
    font-size: 14px;
  }
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.tutorial .tutorial_wrapper .tutorial-body {
  display: grid;
  grid-auto-columns: 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  -ms-grid-rows: auto auto;
}
@media only screen and (max-width: 575.98px) {
  .tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.tutorial .tutorial_wrapper .tutorial-body {
    grid-template-columns: 1fr 1fr;
  }
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.tutorial .tutorial_wrapper .tutorial-body .figure {
  margin: 0;
  background: #f7f9fc;
  border-radius: 8px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.tutorial .tutorial_wrapper .tutorial-body .figure:hover > .main-caption .play-button-overlap {
  background-color: rgba(196, 74, 8, 0.3803921569);
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.tutorial .tutorial_wrapper .tutorial-body .figure .main-caption {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  position: relative;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.tutorial .tutorial_wrapper .tutorial-body .figure .main-caption .play-button-overlap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.tutorial .tutorial_wrapper .tutorial-body .figure .main-caption .play-button-overlap img {
  width: 56px;
  height: 56px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  margin-left: -28px;
  margin-bottom: -28px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.tutorial .tutorial_wrapper .tutorial-body .figure .main-caption img {
  width: 100%;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.tutorial .tutorial_wrapper .tutorial-body .figure .figure-caption {
  padding: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  color: #828c99;
  background: #f7f9fc;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.premium .premium_wrapper .premium-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.premium .premium_wrapper .premium-heading h4 {
  font-style: normal;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #002043;
}
@media only screen and (max-width: 991.98px) {
  .tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.premium .premium_wrapper .premium-heading h4 {
    font-size: 17px;
  }
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.premium .premium_wrapper .premium-heading a {
  background: #2271b1;
  border-radius: 4px;
  padding: 8px 32px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
@media only screen and (max-width: 991.98px) {
  .tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.premium .premium_wrapper .premium-heading a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 767.98px) {
  .tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.premium .premium_wrapper .premium-heading a {
    padding: 4px 18px;
    font-size: 14px;
  }
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.premium .premium_wrapper .premium-body {
  display: grid;
  grid-auto-columns: 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  -ms-grid-rows: auto auto;
}
@media only screen and (max-width: 767.98px) {
  .tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.premium .premium_wrapper .premium-body {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 480px) {
  .tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.premium .premium_wrapper .premium-body {
    grid-template-columns: 1fr;
  }
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.premium .premium_wrapper .premium-body .figure {
  margin: 0;
  background: #f7f9fc;
  border-radius: 8px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.premium .premium_wrapper .premium-body .figure .main-caption {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  position: relative;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.premium .premium_wrapper .premium-body .figure .main-caption img {
  width: 100%;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.premium .premium_wrapper .premium-body .figure .figure-caption {
  padding: 16px;
  background: #f7f9fc;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.premium .premium_wrapper .premium-body .figure .figure-caption h4 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #002043;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.premium .premium_wrapper .premium-body .figure .figure-caption p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #828c99;
  margin-top: 8px;
  margin-bottom: 18px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.premium .premium_wrapper .premium-body .figure .figure-caption .btn-premium-fea {
  display: block;
  text-align: center;
  padding: 8px 32px;
  color: #2271b1;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  border: 1px solid #2271b1;
  border-radius: 4px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.faqs .faqs_wrapper .faqs-heading {
  margin-bottom: 24px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.faqs .faqs_wrapper .faqs-heading h4 {
  font-style: normal;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #002043;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.faqs .faqs_wrapper .tf-accordion-wrapper .tf-accrodian-item {
  background-color: #f7f9fc;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.faqs .faqs_wrapper .tf-accordion-wrapper .tf-accrodian-item .tf-single-faq .tf-faq-title {
  position: relative;
  cursor: pointer;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.faqs .faqs_wrapper .tf-accordion-wrapper .tf-accrodian-item .tf-single-faq .tf-faq-title i {
  position: absolute;
  right: 2px;
  font-size: 18px;
  margin-right: 10px;
  color: #000;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.faqs .faqs_wrapper .tf-accordion-wrapper .tf-accrodian-item .tf-single-faq .tf-faq-title h4 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #002043;
}
@media only screen and (max-width: 480px) {
  .tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.faqs .faqs_wrapper .tf-accordion-wrapper .tf-accrodian-item .tf-single-faq .tf-faq-title h4 {
    font-size: 14px;
  }
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.faqs .faqs_wrapper .tf-accordion-wrapper .tf-accrodian-item .tf-single-faq .tf-faq-title.active i {
  transform: rotate(180deg);
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.faqs .faqs_wrapper .tf-accordion-wrapper .tf-accrodian-item .tf-single-faq .tf-faq-desc {
  display: none;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.faqs .faqs_wrapper .tf-accordion-wrapper .tf-accrodian-item .tf-single-faq .tf-faq-desc p {
  padding-left: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #828c99;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.whatnew .whatnew_wrapper .whatnew-heading {
  margin-bottom: 24px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.whatnew .whatnew_wrapper .whatnew-heading h4 {
  font-style: normal;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #002043;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.whatnew .whatnew_wrapper .whatnew_updates .whatnew_updates_card {
  display: flex;
  justify-content: space-between;
  padding: 24px 40px;
  background-color: #f7f9fc;
  margin-bottom: 32px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.whatnew .whatnew_wrapper .whatnew_updates .whatnew_updates_card .cardleft_date_version {
  position: relative;
  display: flex;
  gap: 60px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.whatnew .whatnew_wrapper .whatnew_updates .whatnew_updates_card .cardleft_date_version:after {
  content: "";
  position: absolute;
  right: 50%;
  margin-right: -1px;
  width: 2px;
  height: 20px;
  background-color: #d9d9d9;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.whatnew .whatnew_wrapper .whatnew_updates .whatnew_updates_card .cardleft_date_version .ins_cardleft_date {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #002043;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.whatnew .whatnew_wrapper .whatnew_updates .whatnew_updates_card .cardleft_date_version .ins_cardleft_version {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #002043;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.whatnew .whatnew_wrapper .whatnew_updates .whatnew_updates_card .cardright_changelog ul {
  max-width: 340px;
  margin: 0;
  margin-bottom: 24px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.whatnew .whatnew_wrapper .whatnew_updates .whatnew_updates_card .cardright_changelog ul span {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  padding: 8px 12px;
  color: #3b82f6;
  background-color: #dbeafe;
  margin: 0;
  margin-bottom: 16px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.whatnew .whatnew_wrapper .whatnew_updates .whatnew_updates_card .cardright_changelog ul li {
  color: #828c99;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  position: relative;
  padding-left: 29px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.whatnew .whatnew_wrapper .whatnew_updates .whatnew_updates_card .cardright_changelog ul li::before {
  position: absolute;
  content: url("../img/circle1.svg");
  width: 13px;
  height: 13px;
  left: 0;
  top: 2px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.whatnew .whatnew_wrapper .whatnew_updates .whatnew_updates_card .cardright_changelog ul.ins_changelog_Improvement li::before {
  position: absolute;
  content: url("../img/circle1.svg");
  width: 13px;
  height: 13px;
  left: 0;
  top: 2px;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.whatnew .whatnew_wrapper .whatnew_updates .whatnew_updates_card .cardright_changelog ul.ins_changelog_New span {
  color: #22c55e;
  background-color: #dcfce7;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.whatnew .whatnew_wrapper .whatnew_updates .whatnew_updates_card .cardright_changelog ul.ins_changelog_New li::before {
  content: url("../img/circlenew.svg");
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.whatnew .whatnew_wrapper .whatnew_updates .whatnew_updates_card .cardright_changelog ul.ins_changelog_Fix span {
  color: #ef4444;
  background-color: #fee2e2;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.whatnew .whatnew_wrapper .whatnew_updates .whatnew_updates_card .cardright_changelog ul.ins_changelog_Fix li::before {
  content: url("../img/circlefix.svg");
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.whatnew .whatnew_wrapper .whatnew_updates .whatnew_updates_card .cardright_changelog ul.ins_changelog_Optimization span {
  color: #eab308;
  background-color: #fef9c3;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.whatnew .whatnew_wrapper .whatnew_updates .whatnew_updates_card .cardright_changelog ul.ins_changelog_Optimization li::before {
  content: url("../img/circleopti.svg");
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.whatnew .whatnew_wrapper .whatnew_updates .whatnew_updates_card .cardright_changelog ul.ins_changelog_Compatibility span {
  color: #a855f7;
  background-color: #f3e8ff;
}
.tf-setting-dashboard .ins-dashboad-wrapper .dashboad-content-wrap .dashboad-content.whatnew .whatnew_wrapper .whatnew_updates .whatnew_updates_card .cardright_changelog ul.ins_changelog_Compatibility li::before {
  content: url("../img/circlecompa.svg");
}

.tf-setting-license {
  margin: 40px 40px 40px 20px;
}
.tf-setting-license .tf-setting-license-tabs ul {
  margin: 0;
  margin-left: 40px;
}
.tf-setting-license .tf-setting-license-tabs ul li.active {
  display: inline-block;
  border: none;
  margin: 0;
  line-height: 18px;
  text-decoration: none;
  font-weight: 600;
  position: relative;
  background-color: #fff;
  border-radius: 5px 5px 0px 0px;
}
.tf-setting-license .tf-setting-license-tabs ul li.active:before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-color: #fff;
  bottom: -8px;
  left: -5px;
  transform: rotate(45deg);
}
.tf-setting-license .tf-setting-license-tabs ul li.active:after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-color: #fff;
  bottom: -8px;
  right: -5px;
  transform: rotate(45deg);
}
.tf-setting-license .tf-setting-license-tabs ul li.active span {
  display: inline-block;
  padding: 14px 22px;
  color: #000;
  font-size: 18px;
  text-decoration: none;
}
.tf-setting-license .tf-setting-license-tabs ul li.active span i {
  margin-right: 5px;
}
.tf-setting-license .tf-setting-license-field {
  background-color: #fff;
  border-radius: 8px;
  padding: 0px 20px;
}

.tf-setting-wrapper {
  max-width: 100%;
  margin: 30px 20px 30px 0px;
  background-color: #fff;
  border-radius: 10px;
}
.tf-setting-wrapper .tf-option-form {
  padding: 30px 30px 30px 0px;
}
.tf-setting-wrapper .tf-option-form .tf-option {
  display: flex;
  z-index: 10;
  position: relative;
}
@media only screen and (max-width: 991.98px) {
  .tf-setting-wrapper .tf-option-form .tf-option {
    position: relative;
    min-height: 500px;
  }
}
.tf-setting-wrapper .tf-option-form .tf-option.tf-taxonomy-metabox {
  display: block;
  margin: 0;
  max-width: 95%;
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-admin-tab.active {
  display: block;
  position: absolute;
  z-index: 99999;
  top: 0;
  bottom: 0;
  background-color: #fff;
  transition: all 0.3s ease;
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-admin-tab {
  position: sticky !important;
  top: 50px;
  left: 0;
  height: 100%;
  overflow: auto;
  min-width: 280px;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 991.98px) {
  .tf-setting-wrapper .tf-option-form .tf-option .tf-admin-tab {
    display: none;
  }
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-admin-tab a.tf-tablinks {
  font-style: normal;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  padding: 18px 30px;
  font-size: 16px;
  text-align: left;
  line-height: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-admin-tab a.tf-tablinks .tf-sec-icon {
  margin-right: 10px;
  color: #8997a9;
  min-width: 25px;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-admin-tab a.tf-tablinks:hover {
  background-color: #fff;
  outline: none;
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-admin-tab a.tf-tablinks:focus {
  box-shadow: none;
  outline: none;
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-admin-tab a.tf-tablinks.active {
  background-color: rgba(219, 82, 9, 0.1098039216);
  color: #db5209;
  position: relative;
  overflow: hidden;
  border-radius: 0px 5px 0px 0px;
}
@media only screen and (max-width: 991.98px) {
  .tf-setting-wrapper .tf-option-form .tf-option .tf-admin-tab a.tf-tablinks.active {
    position: static;
  }
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-admin-tab a.tf-tablinks.active .tf-sec-icon {
  color: #db5209;
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-admin-tab a.tf-tablinks.active::before {
  position: absolute;
  content: "\f105";
  font-size: 14px;
  color: #db5209;
  font-family: "FontAwesome" !important;
  right: 10px;
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-admin-tab a.tf-tablinks.active::after {
  position: absolute;
  content: "";
  width: 8px;
  border: none;
  left: -4px;
  bottom: 0;
  top: 0;
  background: #db5209;
  height: 28px;
  margin: auto;
  border-radius: 25px;
}
@media only screen and (max-width: 991.98px) {
  .tf-setting-wrapper .tf-option-form .tf-option .tf-admin-tab a.tf-tablinks.active::after {
    position: static;
    display: none;
  }
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-admin-tab ul.tf-submenu {
  margin: 0;
  display: none;
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-admin-tab ul.tf-submenu li {
  margin-bottom: 0;
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-admin-tab ul.tf-submenu li a.tf-tablinks {
  padding: 0;
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-admin-tab ul.tf-submenu li a.tf-tablinks span.tf-tablinks-inner {
  display: flex;
  align-items: center;
  padding: 18px 30px;
  margin-left: 24px;
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-admin-tab ul.tf-submenu li:last-child a.tf-tablinks span.tf-tablinks-inner {
  border-left: none;
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-admin-tab ul.tf-submenu li:last-child a.tf-tablinks span.tf-tablinks-inner::after {
  left: 0;
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-tab-wrapper {
  flex: 0 0 calc(100% - 280px);
  padding-top: 0px;
}
@media only screen and (max-width: 991.98px) {
  .tf-setting-wrapper .tf-option-form .tf-option .tf-tab-wrapper {
    flex: 0 0 calc(100% - 0px);
  }
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-tab-wrapper .tf-mobile-setting {
  text-align: right;
  padding-bottom: 15px;
  display: none;
}
@media only screen and (max-width: 991.98px) {
  .tf-setting-wrapper .tf-option-form .tf-option .tf-tab-wrapper .tf-mobile-setting {
    display: block;
  }
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-tab-wrapper .tf-mobile-setting a i {
  color: #000;
  font-size: 22px;
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-tab-wrapper .tf-tab-content {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 20px;
  background: #fcf9f7;
  margin: 0px 0px 0px 20px;
  border-radius: 5px;
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-tab-wrapper .tf-tab-content.active {
  display: flex;
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-tab-wrapper .tf-tab-content > .tf-field {
  background-color: #fcf9f7;
  margin: 5px 0px;
  border-radius: 8px;
  padding: 20px 30px;
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-tab-wrapper .tf-tab-content > .tf-field p.description {
  font-size: 14px;
  margin-top: 10px;
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-tab-wrapper .tf-tab-content > .tf-field.tf-field-color {
  background-color: transparent;
  padding: 0px;
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-tab-wrapper .tf-tab-content > .tf-field.tf-field-color-single {
  background-color: #fff;
  padding: 20px 30px;
}
.tf-setting-wrapper .tf-option-form .tf-option .tf-tab-wrapper .tf-option-footer {
  position: sticky !important;
  bottom: 0;
  background-color: #fff;
  left: 0;
  width: 100%;
}

.tf-shortcode-generator-section {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  margin-right: 20px;
}
.tf-shortcode-generator-section .tf-shortcode-generators {
  background: #ededf8;
  border-radius: 8px;
  padding: 20px;
}
.tf-shortcode-generator-section .tf-shortcode-generators .tf-shortcode-generator-single:not(:last-child) {
  margin-bottom: 20px;
}
.tf-shortcode-generator-section .tf-shortcode-generators .tf-shortcode-generator-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #fff;
  padding: 20px 30px;
  align-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
@media only screen and (max-width: 640px) {
  .tf-shortcode-generator-section .tf-shortcode-generators .tf-shortcode-generator-label {
    display: flow-root !important;
  }
}
.tf-shortcode-generator-section .tf-shortcode-generators .tf-shortcode-generator-label .tf-labels label {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #0d165e;
  display: inline-block;
  margin-bottom: 3px;
}
.tf-shortcode-generator-section .tf-shortcode-generators .tf-shortcode-generator-label .tf-labels p {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: #838790;
  font-weight: 400;
}
.tf-shortcode-generator-section .tf-shortcode-generators .tf-shortcode-btn button {
  font-size: 1rem;
  line-height: 20px;
  text-decoration: none;
  font-weight: 500;
  padding: 0 20px;
  margin-left: 15px;
  height: 45px;
  background-color: #db5209;
  color: #fff;
  border: none;
  box-shadow: none !important;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}
@media only screen and (max-width: 640px) {
  .tf-shortcode-generator-section .tf-shortcode-generators .tf-shortcode-btn button {
    margin-left: 0px !important;
    margin-top: 10px !important;
  }
}
.tf-shortcode-generator-section .tf-shortcode-generators .tf-shortcode-btn button:hover {
  background-color: #002f5e;
}
.tf-shortcode-generator-section .tf-shortcode-generators .tf-sg-form-wrapper {
  display: none;
  overflow-x: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.tf-shortcode-generator-section .tf-shortcode-generators .tf-sg-form-wrapper .tf-shortcode-generator-form {
  transform: translateY(10%);
  width: 600px;
  margin: 30px auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
}
@media only screen and (max-width: 640px) {
  .tf-shortcode-generator-section .tf-shortcode-generators .tf-sg-form-wrapper .tf-shortcode-generator-form {
    width: 320px;
  }
}
.tf-shortcode-generator-section .tf-shortcode-generators .tf-sg-form-wrapper .tf-shortcode-generator-form .tf-sg-row {
  display: flex;
  margin-right: 15px;
  margin-left: -15px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 640px) {
  .tf-shortcode-generator-section .tf-shortcode-generators .tf-sg-form-wrapper .tf-shortcode-generator-form .tf-sg-row {
    display: flow-root;
    margin-left: 0;
    margin-right: 0;
  }
}
.tf-shortcode-generator-section .tf-shortcode-generators .tf-sg-form-wrapper .tf-shortcode-generator-form .tf-col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}
@media only screen and (max-width: 640px) {
  .tf-shortcode-generator-section .tf-shortcode-generators .tf-sg-form-wrapper .tf-shortcode-generator-form .tf-col-lg-6 {
    max-width: 100%;
  }
}
.tf-shortcode-generator-section .tf-shortcode-generators .tf-sg-form-wrapper .tf-shortcode-generator-form select.tf-select-field[multiple] {
  height: auto;
}
.tf-shortcode-generator-section .tf-shortcode-generators .tf-sg-form-wrapper .tf-shortcode-generator-form .tf-setting-field {
  width: 100%;
  box-shadow: none;
  height: 44px;
  padding: 10px 25px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.tf-shortcode-generator-section .tf-shortcode-generators .tf-sg-form-wrapper .tf-shortcode-generator-form .tf-setting-field:hover {
  color: #2271b1;
}
.tf-shortcode-generator-section .tf-shortcode-generators .tf-sg-form-wrapper .tf-shortcode-generator-form .tf-setting-field:active {
  border-color: #8c8f94;
  box-shadow: none;
}
.tf-shortcode-generator-section .tf-shortcode-generators .tf-sg-form-wrapper .tf-shortcode-generator-form .tf-sg-close {
  position: absolute;
  right: -7px;
  top: -5px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  background: red;
  color: #fff;
  text-align: center;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.tf-shortcode-generator-section .tf-shortcode-generators .tf-sg-form-wrapper .tf-shortcode-generator-form .tf-copy-item {
  display: none;
}
.tf-shortcode-generator-section .tf-shortcode-generators .tf-sg-form-wrapper .tf-shortcode-generator-form .tf-shortcode-field.copy-shortcode {
  align-self: start;
  float: none;
  display: flex;
}
.tf-shortcode-generator-section .tf-shortcode-generators .tf-sg-form-wrapper .tf-shortcode-generator-form input.tf-shortcode-value {
  width: 100%;
  height: 45px;
  background: #fff;
  padding: 10px 15px;
  border: 1px solid #ccc;
}
.tf-shortcode-generator-section .tf-shortcode-generators .tf-sg-form-wrapper .tf-shortcode-generator-form .tf-copy-btn {
  margin-left: 10px;
  line-height: 22px;
  vertical-align: middle;
}

.tf-copy-item span.tf-copied-msg {
  display: flex;
  justify-content: end;
  margin-bottom: 9px;
  padding-right: 10px;
}

.tf-field {
  padding: 12px 0;
}
@media only screen and (max-width: 991.98px) {
  .tf-field {
    width: 100% !important;
  }
}
.tf-field .tf-field-label {
  display: block;
  font-style: normal;
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 16px;
  color: #000;
  display: flex !important;
  align-items: center;
  line-height: 20px;
}
.tf-field .tf-field-label .tf-csf-badge {
  margin-left: 13px;
}
.tf-field .tf-field-label .tf-csf-badge .tf-pro {
  display: inline-block;
  color: #fff;
  padding: 3px 10px 3px 10px;
  border-radius: 3px;
  text-align: center;
  margin: 5px 0 0 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 13px;
  background: #b30000;
  background-color: #f44336 !important;
  margin: 0;
}
.tf-field .tf-field-label .tf-csf-badge .tf-upcoming {
  background-color: #006600 !important;
  margin: 0;
}
.tf-field.tf-field-disable {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 0.6;
}
.tf-field .tf-fieldset {
  font-style: normal;
  font-size: 14px;
  margin-top: 15px;
}
.tf-field .tf-fieldset a {
  font-style: normal;
  font-weight: 600;
}
.tf-field .tf-field-sub-title {
  color: #87888b;
  font-size: 14px;
  margin-bottom: 0px;
  display: block;
}

.tf-field.tf-field-heading .tf-fieldset {
  margin-top: 0px;
}

.tf-taxonomy-metabox .tf-field {
  padding: 12px 0;
}

.tf-inline-list {
  display: inline-block;
}

.tf-depend-hidden {
  display: block;
}

.tf-depend-hidden.tf-depend-on {
  display: none;
}

body.admin_page_tf-setup-wizard {
  background-color: #fcf9f7;
}

.admin_page_tf-setup-wizard #wpcontent {
  margin-left: 0 !important;
}

.admin_page_tf-setup-wizard #wpbody-content,
.admin_page_tf-setup-wizard #wpcontent {
  padding: 0;
  overflow-x: hidden !important;
  min-height: calc(100vh - 32px);
}

.admin_page_tf-setup-wizard #adminmenumain,
.admin_page_tf-setup-wizard .error,
.admin_page_tf-setup-wizard .notice,
.admin_page_tf-setup-wizard .update-nag,
.admin_page_tf-setup-wizard .updated,
.admin_page_tf-setup-wizard div#wpadminbar,
.admin_page_tf-setup-wizard div#wpfooter {
  display: none;
}

.tf-setup-wizard-wrapper {
  max-width: 900px;
  margin: auto;
  width: calc(100% - 40px);
  padding-top: 30px;
}

.tf-setup-header {
  padding: 0 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .tf-setup-header {
    flex-direction: column;
    gap: 15px;
  }
}
.tf-setup-header .get-help-link a {
  color: #000;
  font-weight: 700;
  text-decoration: underline;
}

/*
Error: wrong number of arguments (1 for 3) for `rgb'
        on line 57 of D:/laragon-sydur/laragon/www/instantio/wp-content/plugins/instantio/admin/tf-options/assets/sass/common/_setup-wizard.scss
        from line 6 of D:\laragon-sydur\laragon\www\instantio\wp-content\plugins\instantio\admin\tf-options\assets\sass\tf-options.scss

Backtrace:
D:/laragon-sydur/laragon/www/instantio/wp-content/plugins/instantio/admin/tf-options/assets/sass/common/_setup-wizard.scss:57
D:\laragon-sydur\laragon\www\instantio\wp-content\plugins\instantio\admin\tf-options\assets\sass\tf-options.scss:6
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/script/tree/funcall.rb:315:in `reformat_argument_error'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/script/tree/funcall.rb:162:in `rescue in _perform'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/script/tree/funcall.rb:132:in `_perform'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/script/tree/node.rb:50:in `perform'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/script/tree/list_literal.rb:75:in `block in _perform'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/script/tree/list_literal.rb:75:in `map'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/script/tree/list_literal.rb:75:in `_perform'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/script/tree/node.rb:50:in `perform'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:402:in `visit_prop'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:329:in `map'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:88:in `block in with_import'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:88:in `with_import'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/sass:22:in `load'
C:/Program Files (x86)/Koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: wrong number of arguments (1 for 3) for `rgb'\A         on line 57 of D:/laragon-sydur/laragon/www/instantio/wp-content/plugins/instantio/admin/tf-options/assets/sass/common/_setup-wizard.scss\A         from line 6 of D:\laragon-sydur\laragon\www\instantio\wp-content\plugins\instantio\admin\tf-options\assets\sass\tf-options.scss"; }
