/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap'); */
/* .tf-setting-dashboard {
	font-family: 'Mulish', sans-serif;
} */
.ins-error p svg{
    fill: #d63638;
    width: 17px;
    height: 26px;
    float: left;
}
.ins-error p strong{
    height: 26px;
    line-height: 26px;
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 14px;
}

.ins-notice { clear: both; overflow: hidden; transition: 0.5s; }
.ins-notice .dashicons { height: unset; width: unset; font-size: 12px; vertical-align: middle; }
.ins-notice a { margin-left: 10px; text-decoration: none; cursor: pointer; }

/*
* CodeStar
*/
.csf-theme-dark .csf-container .csf-header-inner h1 {
    color: #f55c0a;
}
.csf-theme-dark .csf-container .csf-header-inner h1 small {
    color: #bfbfbf;
}
.csf-container .csf-field-button_set .csf--active, .csf-container .csf-field-button_set .csf--active:hover {
    border-color: #dc5309;
    background-color: #e9570a;
}
.csf-container .csf-field-switcher .csf--switcher {
    background-color: #607d8b;
}
.csf-container .csf-field-switcher .csf--active {
    background: #e9570a;
}

.csf-section .csf-field.ins-csf-disable {
    opacity: 1;
    user-select: none;
    border-top: 1px solid #eee;
}
.csf-section .csf-field.ins-csf-disable .clear:before {
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: #eee;
    opacity: 0.25;
    z-index: 10;
}

.csf-section .csf-field.ins-csf-pro {
    cursor: pointer;
}
.ins-csf-badge .ins-upcoming, .ins-csf-badge .ins-pro {
    display: inline-block;
    color: #fff;
    padding: 3px 10px 3px 10px;
    border-radius: 3px;
    text-align: center;
    margin: 5px 0 0 0;
    font-size: 12px;
    font-weight: 600;
}
.ins-csf-badge .ins-upcoming {
    background: #006600;
    margin-right: 5px;
}
.ins-csf-badge .ins-pro {
    background: #b30000;
}

/* Review admin notice CSS */
.themefic_review_notice ul li {
    display: inline-block;
}

.themefic_review_notice ul {
    margin: 0;
    margin-bottom: 5px;
}

.themefic_review_notice ul li a {
    text-decoration: none;
    padding: 7px;
    color: #00718A;
    font-weight: 600;
    transition: 0.4s;
}

.themefic_review_notice ul li:nth-child(1) a {
    padding-left: 0 !important;
}

.themefic_review_notice ul li a span {
    padding-right: 3px;
    display: inline-block;
}

.themefic_review_notice ul li a:hover {
    color: #218ea6;
}

.instantio-settings-page {
	display: grid;
	grid-template-columns: 4fr 2fr;
	gap: 16px;
	padding: 0px;
	background-color: #fff;
	border-radius: 4px;
}
.instantio-sidebar-content {
	background: #F7F8FA;
	padding: 10px 20px;
}
.instantio-sidebar-content ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5px;
}
.plugin-item.featured {
	border-radius: 6px;
	border: 4px solid transparent;
	background: linear-gradient(white, white) padding-box, linear-gradient(90deg, #489355 0%, #B8FC81 100%) border-box;
	box-shadow: 0px 1px 4px 0px rgba(44, 39, 63, 0.01), 0px 2px 2px 0px rgba(44, 39, 63, 0.02), 0px 1px 1px 0px rgba(44, 39, 63, 0.04);
	box-sizing: border-box;
}
.plugin-item {
	border-bottom: 1px solid #eee;
	background-color: #fff;
	padding: 24px;
	border-radius: 6px;
	transition: all ease-in-out 0.3s;
	margin-bottom: 0;
	position: relative;
}
.plugin-info-wrapper {
	display: flex;
	gap: 10px;
	flex-direction: column;
	position: relative;
}
.plugin-info {
	display: flex;
	gap: 10px;
	justify-content: space-between;
	align-items: flex-start;
}
.plugin-info-wrapper img {
	width: 32px;
	height: 32px;
	border: 1px solid #bebcfd;
	border-radius: 50%;
}
.plugin-info-wrapper img.beaf-logo {
	border-radius: 0;
}
.plugin-btn {
	font-weight: 600;
}
.badge.free {
	background: rgba(0,165,140,.1019607843);
	color: #00a58c;
	font-size: 12px;
	padding: 2px 8px;
	border-radius: 12px;
	font-weight: 600;
	border: 1px solid #00a58c;
}
.plugin-button {
	padding: 5px;
	border-radius: 4px;
	font-size: 14px;
	text-decoration: none;
	position: relative;
}
.plugin-item h4 {
	font-size: 16px;
	margin: 5px 0;
	font-weight: 600;
	color: #1d2327;
}
.plugin-item p {
	font-size: 13px;
	color: #4f4e52;
	margin: 0;
}
.plugin-button:not(.active):not(.active-pro) {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background 0.3s;
	position: relative;
	background-color: transparent;
	flex-direction: column;
}
.plugin-button.activate,
.plugin-button.install {
	/* background: #382673; */
	color: #382673;
}


.customization-quote {
	background: #fff;
	padding: 20px;
	border-radius: 6px;
	margin: 20px 0;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.customization-quote .quote-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.customization-quote .quote-header i {
	color: #fff;
	background-color: #ff0000;
	padding: 5px;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.customization-quote .quote-header a {
	color: #382673;
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
}
.customization-quote h3 {
	margin-bottom: 5px;
	font-size: 16px;
}
.customization-quote p {
	margin-top: 0;
}
.quick-access {
	background: #fff;
	border-radius: 12px;
	padding: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
	margin-top: 20px;
	margin-bottom: 10px;
}
.quick-access h3 {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 15px;
	margin-top: 0px;
}
.quick-access-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;
	flex-direction: column;
	background-color: #F7F8FA;
	padding: 5px;
}
.access-item {
	background: #fff;
	border-radius: 8px;
	transition: all ease-in-out 0.3s;
	width: 100%;
}
.access-item a {
	display: flex;
	align-items: center;
	padding: 12px;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #333;
}
.access-item .icon {
	font-size: 18px;
	margin-right: 10px;
}
.instantio-settings-page .tf-option-wrapper.tf-setting-wrapper {
	margin: 0;
}
.instantio-settings-page .tf-setting-wrapper .tf-option-form {
	padding: 0px !important;
}
/**
 * Style for sidebar adjustment on settings page
 */
.instantio-settings-page .tf-setting-wrapper .tf-option-form .tf-option .tf-tab-wrapper .tf-tab-content > .tf-field{
	padding: 20px 0px;
}
.instantio-settings-page .tf-setting-wrapper .tf-option-form .tf-option .tf-tab-wrapper .tf-tab-content{
	margin: 0px 0px 0px 0px;
}
.instantio-settings-page {
    gap: 16px;
}
.instantio-settings-page .tf-field-imageselect.ins-layout-options-imageset200 .tf-fieldset .tf-image-seletor-wrap .tf-image-seletor-items {
    width: 180px;
}
@media screen and (max-width: 1700px) {
    .plugin-item {
        padding: 18px;
    }
}

@media screen and (max-width: 1650px) {

    .instantio-settings-page {
        grid-template-columns: 3fr 2fr;
    }
}

@media screen and (max-width: 1400px) {
    .instantio-settings-page {
        grid-template-columns: 4fr 2fr;
    }
    .instantio-sidebar-content ul {
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 1280px) {

    .instantio-settings-page {
        gap: 20px;
    }

}

@media screen and (max-width: 1080px) {
    .plugin-item {
        padding: 16px;
    }
}


@media screen and (max-width: 882px) {
    .instantio-sidebar-content {
        padding: 10px 14px;
    }

    .quick-access {
        padding: 14px;
    }
}

@media screen and (max-width: 760px) {
    .instantio-settings-page {
        grid-template-columns: 3fr 2fr;
    }
}

@media screen and (max-width: 645px) {
    .instantio-settings-page {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
	.instantio-settings-page  .tf-setting-wrapper .tf-option-form .tf-option .tf-admin-tab {
		min-width: 200px;
	}
    .instantio-settings-page {
		gap: 8px;
	}
	.instantio-settings-page .tf-setting-wrapper .tf-option-form .tf-option .tf-tab-wrapper {
		flex: 0 0 calc(100% - 200px);
	}
	.instantio-settings-page .tf-field-imageselect.ins-layout-options-imageset200 .tf-fieldset .tf-image-seletor-wrap .tf-image-seletor-items {
		width: 144px;
	}
	.instantio-settings-page .tf-image-seletor-items figure {
		padding: 8px;
	}
}
