.ins-error p svg{
    fill: #d63638;
    width: 17px;
    height: 26px;
    float: left;
}
.ins-error p strong{
    height: 26px;
    line-height: 26px;
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 14px;
}

.ins-notice { clear: both; overflow: hidden; transition: 0.5s; }
.ins-notice .dashicons { height: unset; width: unset; font-size: 12px; vertical-align: middle; }
.ins-notice a { margin-left: 10px; text-decoration: none; cursor: pointer; }

/*
* CodeStar
*/
.csf-theme-dark .csf-container .csf-header-inner h1 {
    color: #f55c0a;
}
.csf-theme-dark .csf-container .csf-header-inner h1 small {
    color: #bfbfbf;
}
.csf-container .csf-field-button_set .csf--active, .csf-container .csf-field-button_set .csf--active:hover {
    border-color: #dc5309;
    background-color: #e9570a;
}
.csf-container .csf-field-switcher .csf--switcher {
    background-color: #607d8b;
}
.csf-container .csf-field-switcher .csf--active {
    background: #e9570a;
}

.csf-section .csf-field.ins-csf-disable {
    opacity: 1;
    user-select: none;
    border-top: 1px solid #eee;
}
.csf-section .csf-field.ins-csf-disable .clear:before {
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: #eee;
    opacity: 0.25;
    z-index: 10;
}

.csf-section .csf-field.ins-csf-pro {
    cursor: pointer;
}
.ins-csf-badge .ins-upcoming, .ins-csf-badge .ins-pro {
    display: inline-block;
    color: #fff;
    padding: 3px 10px 3px 10px;
    border-radius: 3px;
    text-align: center;
    margin: 5px 0 0 0;
    font-size: 12px;
    font-weight: 600;
}
.ins-csf-badge .ins-upcoming {
    background: #006600;
    margin-right: 5px;
}
.ins-csf-badge .ins-pro {
    background: #b30000;
}